#header{
    text-align: center;
}

#kickstarter{
    float: left;;
}

#front-page{
    align-self: center;
}

#profile{
    text-align: center;
}

h1{
    font-family: "Patrick Hand SC", cursive;
}

p {
    font-weight: 500;
    font-style: normal;
    font-size: large;
  }
  