#header{
    text-align: center;
}

#kickstarter{
    float: left;;
}

h1{
    font-family: "Patrick Hand SC", cursive;
    text-decoration: underline;
}

p {
    font-weight: 500;
    font-style: normal;
    font-size: larger;
  }
  